.header--container {
    display: flex;
    width: 100%;
    height: 56px;
}

.header--row {
    display: flex;
}

.header--column {
    flex-direction: column;
}

.header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.logo-title {
    gap: 5px;
}

.title--text {
    color: #0A4C70;
    font-size: 1.5rem;
}

.text-m {
    font-weight: 500;
}

/* Nav */
.gap {
    gap: 31px;
}

nav {
    color: #0A4C70;
}

img {
    width: auto;
    height: auto;
}

/* Booking Button */
.button--quick-click {
    width: 182px;
    height: 36px;
    font-size: 1rem;
    color: white;
    background-color: #1A7FA8;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}